.font{
    text-align: center;
    color: #fff;   
    position: relative;
    top:160px;
    display: flex;
    gap: 35px;
    justify-content: center;
}   

.bar{
    background-color:#f74d2c;
    height: 180px;
}

.logo{
    height: 170px;
    width: 100vw;
    display: flex;
    align-items: start;
    bottom: 20px;
    font-size: 70px;
}

.logo-1{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 8px;
}

.search{
    margin-left: 400px;
    width: 700px;
    height: 40px;
    position: relative;
    top: 20px;
}

.a{
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
}

.b{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
}

.logo-1 a{
    text-decoration: none;
    font-size: 20px;
    width: 100px;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100px;
     height: auto; 
     margin: 10x; 
     padding: 20px;
     position: relative;
     left: 950px;
 }
 
 .display-1{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100px;
     height: auto; 
     margin: 10px;
     position: relative;
     left: 900px;
 }

 

